/*第三小題*/
h1 {
	background-color: pink;
	display: inline;
}
button {
	background-color: black;
	color:gold;
}

div:hover{
	background-color:rgb(255,255,0);
}
body{
	text-align : center;
}
#choose {
	color : red;
}

